@import "variables";
@import "mixins";
@import "reboot";
%button {
  border-radius: 3 * $border-radius-base;
  border: 1px $primary-color solid;
  background-color: $body-bg;
  color: $primary-color;
  padding: $padding-base 0;
  width: 100px;
}
.header {
  border-bottom: 1px $border-color solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-base 2 * $padding-base;
  .login-btn {
    @extend %button;
  }
  .register-btn {
    @extend .login-btn;
    background-color: $primary-color;
    color: $white;
  }
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  .form {
    width: 400px;
    height: 450px;
    border-radius: $border-radius-base;
    border: 1px $border-color solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      color: $white;
    }
    .user {
      width: $form-width-base;
      background-color: $body-bg;
      border: none;
      border-bottom: solid 1px $border-color;
      padding: 2 * $padding-base 0;
    }
    .password {
      @extend .user;
    }
    a {
      width: $form-width-base;
      padding: 2 * $padding-base 0;
      color: $primary-color;
      font-size: $font-size-base;
      text-decoration: none;
    }
    .login-btn {
      @extend %button;
      width: $form-width-base;
      margin: $margin-base 0;
    }
    .register-btn {
      @extend .login-btn;
      background-color: $primary-color;
      color: $white;
    }
  }
}
